* {
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1070px;
    margin: 60px auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}
.container input{
    margin: 5px 0;
    padding: 2px 3px;
}
.container label{
    font-size: small;
    color: #806a6a;
}

#name, #budget, #budget2{
    cursor: not-allowed;
}

.num, .num-umn, .mathpow{
    text-align: center;
}